input{
	margin: 0px 10px;
}

#calculated {
	display: inline-block;
	width: 50%;
}

#variables {
	display: inline-block;
	width: 40%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

legend{
	font-size: 3em;
	text-align: center;
}

.container {
	width: 90%;
	margin: auto auto;
}

#house {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	
}
